/*-- video { width: 100vw; } */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #12263A;
}

#bar { padding: 16px; font-size: 28px; }

#challenge {
  margin: 0 0 0;
  padding: 16px;
  background: #000;
  color: #F9C22E;
  font-family: 'Jersey 25', system-ui;
  font-size: 24px;
  line-height: 1.4;
  border: 10px solid #C96EBD;
}

#view {
  position: relative;
  flex: 1;
  min-height: 0;
}

#cam {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#guide.right { color: #00CC66; }
#guide.wrong { color: #F15946; }
#guide {
  position: absolute;
  top: 10%;
  /* adjust later */
  left: 50%;
  transform: translateX( -50% );
  margin: 0;
  width: 80%;
  font-family: 'Jersey 25', system-ui;
  font-size: 20px;
  color: #F15946;
  text-align: center;
}

#back {
  width: 72px;
  height: 72px;
  border: none;
  background: url(assets/button-back.png) no-repeat;
  cursor: pointer;
}

#back:active {
  background-image: url(assets/button-back-pressed.png);
}

#settings {
  width: 72px;
  height: 72px;
  border: none;
  background: url(assets/button-settings.png) no-repeat;
  cursor: pointer;
}

#settings:active {
  background-image: url(assets/button-settings-pressed.png);
}

#bar {
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

/*
#swap {
  width: 123px;
  height: 34px;
  border: none;
  background: url(assets/button-swap.png) no-repeat;
  cursor: pointer;
}

#hint {
  width: 123px;
  height: 34px;
  border: none;
  background: url(assets/button-hint.png) no-repeat;
  cursor: pointer;
}

#help {
  display: flex;
  gap: 12px;
  padding: 20px 16px;
}
*/