#progress {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0 auto;
}

#count {
  color: #F9C22E;
  font-family: 'Jersey 25', system-ui;
  font-size: 13px;
  margin-right: 4px;
}

.hex {
  width: 23px;
  height: 20px;
  background: #44576a;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hex.done { background: #00CC66; }