body {
  margin: 0;
  background: #15131E;
  overflow: hidden;
}

body > video,
a-scene .a-canvas {
  clip-path: polygon(
    50% calc( 50% - 166px ),
    calc( 50% + 163px ) calc( 50% - 91px ),
    calc( 50% + 163px ) calc( 50% + 91px ),
    50% calc( 50% + 166px ),
    calc( 50% - 163px ) calc( 50% + 91px ),
    calc( 50% - 163px ) calc( 50% - 91px )
  );
}

#frame {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 371px;
  height: 385px;
  transform: translate( -50%, -50% );
  z-index: 3;
  pointer-events: none;
  background: url(assets/ar-frame.png) 0 0;
  background-size: 3339px 385px;
  image-rendering: pixelated;
  animation: frame_spin 1.5s steps(9) infinite;
}

@keyframes frame_spin {
  to { background-position: -3339px 0; }
}