body { margin: 0; background: #15131E; overflow: hidden; }

canvas {
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}

#action_btn {
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 290px;
  height: 54px;
  padding-bottom: 9px;
  border: none;
  color: #15131E;
  font-family: 'Jersey 25', system-ui;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  background: url(assets/button-longer.png) no-repeat;
}

#action_btn:active {
  padding-bottom: 0;
  padding-top: 9px;
  background-image: url(assets/button-longer-pressed.png);
}

#card {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX( -50% );
  width: 55vw;
  max-width: 260px;
  padding: 24px 0;
  color: #12263A;
  border: 4px solid #000000;
  font-family: 'Jersey 25', system-ui;
  font-size: 24px;
  text-align: center;
  display: none;
}

#card.show { display: block; }

#card.qr    { background: #30C5FF; }
#card.input { background: #EB6F00; }
#card.ar    { background: #C96EBD; }

#back {
  width: 72px;
  height: 72px;
  border: none;
  background: url(assets/button-back.png) no-repeat;
  cursor: pointer;
}

#back:active {
  background-image: url(assets/button-back-pressed.png);
}

#pause {
  width: 72px;
  height: 72px;
  border: none;
  background: url(assets/button-pause.png) no-repeat;
  cursor: pointer;
}

#pause:active {
  background-image: url(assets/button-pause-pressed.png);
}

#bar {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}